html, body {
	height: 100vh;
	margin: 0; padding: 0;
}
body {
	display : table;
    width: 100%;
    background-image: url('../img/accueil-background.png');
    background-repeat: no-repeat;
    
}

header{
    min-width: 1080px;
}

main{
    height: 880px;
}

footer {
	display : table-row;
	height: 400px; 
}

.flex-container{
    display: flex;
    justify-content: center;
}

.flex-container h1{
    font-size: 58px!important;
    margin-bottom: 30px;
    text-align: left;
}

.flex-container p{
    margin-bottom: 30px;
    text-align: left;
}

.section1{
    width: 500px;
    padding-top: 12em;
}

.section1 button{
    width: 140px;
    height: 30px;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: linear-gradient(45deg,#FF9A2D, #CF6B00);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.section2 img{
    height: 700px;
    padding-left: 25%;
}

@media (max-width: 1300px){
    .section2 img{
        height: 60%;
        padding: 20px;
    }
}

@media (max-width: 900px){

    body{
        background-image: none;
    }

    .flex-container{
        flex-direction: column;
    }

    .section1{
        margin-top: 30px;
        justify-items: center;
    }

    .section2 img{
        height: 60%;
        padding: 20px;
    }
}