/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 avr. 2020, 20:14:15
    Author     : User
*/

body{
    background: #67BE4B;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
}

#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

input[type=id], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}