footer {
    color: white;
    font-family: Roboto Light;
}

table{
    width: 30%;    
    margin-left:auto;
    margin-right:auto;
    position: relative;
}
td > *{
    display: block;
    width: 300px;
}
#footer-1 {
    background-color: #003144;
    padding: 20px;
}
#footer-2{
    background-color: #004D6A;
    padding: 20px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
}

#footer-2 > div {
    width: 30%;
    text-align: center;
}
#footer-2 > div > i {
    font-size: 50px;
    color: black;
}
td > a:link {
    color: white;
}
#footer-copyright {
    font-size: 12px;
    letter-spacing: 0.4px;
}