nav{
    background-color: white;
    width: 80%;
    height: 108px;
    margin: 45px auto;
}

#nav_name{
    display: inline;
    font-size: 20px;
    line-height: 100px;
    white-space: nowrap;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

#nav_logo{
    line-height: 100px;
    white-space: nowrap;
    margin-left: 20px;
}

/* NAV ELEMENTS */
.nav-elements {
    float: right;
    margin-top: 1.4em;
}

.nav-elements a {
    color: black;
    text-decoration: none;
    padding: 12px 16px;
}

.nav-elements a:hover,.dropbtn:hover {
    color: #FF9A2D;
}

.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn:focus{
    outline-style: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    background: none;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
}
 
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color:#FF9A2D ;
}

.fa-sort-down{
    margin: 3px;
}
#contact{
    margin-right: 50px;
}

.fa-shopping-basket,.fa-search,.fa-user{
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.fa-user{
    margin-right: 20px!important;
}

/* ACTIVE */
.active{
    color: #FF9A2D!important;
}

/* BASKET SHOP*/
#container-shop-basket{
    display: none;
    position: absolute;
    right: 192px;
    width: 400px;
    text-align: center;
}

#container-shop-basket hr{
background-color: rgba(255, 153, 45, 0.411);
}

#container-shop-basket h3{
    font-size: 16px;
}

#label-basket{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}



