@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

nav{
    font-family: Roboto;
    background-color: white;
    width: 80%;
    height: 108px;
    margin: 45px auto;
    -webkit-box-shadow: -1px 1px 20px -4px rgba(0,0,0,0.54);
    -moz-box-shadow: -1px 1px 20px -4px rgba(0,0,0,0.54);
    box-shadow: -1px 1px 20px -4px rgba(0,0,0,0.54);
}

#nav_name{
    display: inline;
    font-size: 20px;
    line-height: 100px;
    white-space: nowrap;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

#nav_logo{
    line-height: 100px;
    white-space: nowrap;
    margin-left: 20px;
}

/* NAV ELEMENTS */
.nav-elements {
    float: right;
    margin-top: 1.4em;
}

.nav-elements a {
    color: black;
    text-decoration: none;
    padding: 12px 16px;
}

.nav-elements a:hover,.dropbtn:hover {
    color: #FF9A2D;
}

.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn:focus{
    outline-style: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    background: none;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
    -webkit-box-shadow: -1px 1px 20px -4px rgba(0,0,0,0.20);
    -moz-box-shadow: -1px 1px 20px -4px rgba(0,0,0,0.20);
    box-shadow: -1px 1px 20px -4px rgba(0,0,0,0.20);
}
 
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color:#FF9A2D ;
}

.fa-sort-down{
    margin: 3px;
}
#contact{
    margin-right: 50px;
}

.fa-shopping-basket,.fa-search,.fa-user{
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.fa-user{
    margin-right: 20px!important;
}

/* ACTIVE */
.active{
    color: #FF9A2D!important;
}

/* BASKET SHOP*/
#container-shop-basket{
    display: none;
    position: absolute;
    right: 192px;
    width: 400px;
    text-align: center;
}

#container-shop-basket hr{
background-color: rgba(255, 153, 45, 0.411);
}

#container-shop-basket h3{
    font-size: 16px;
}

#label-basket{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.hidden{
    display: none;
}

.mobile-elements{
    display: none;
}

@media (max-width: 600px) {

    #nav_logo,#nav_name{
        display: none;
    }

    .nav-elements {
        display: none;
    }

    nav{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 220px;
        background-color: transparent;
        box-shadow: none;
    }

    .hamburger{
        display: block;
        width: 100px;
        margin-left: 1.8em;
        margin-top: 2.8em;
    }

    div.mobile-elements{
        background-color: white;
        margin: 0;
        display: none;
        -webkit-box-shadow: -1px 1px 20px -4px rgba(0,0,0,0.20);
        -moz-box-shadow: -1px 1px 20px -4px rgba(0,0,0,0.20);
        box-shadow: -1px 1px 20px -4px rgba(0,0,0,0.20);
        z-index: 100;
    }

    .mobile-elements a{
        display: block;
        height: 200px;
        font-size: 80px;
        color: black;
        margin-left: 20px;
        height: 200px;
    }

    .mobile-elements button,.mobile-elements i{
        font-size: 80px;
    }

    .mobile-elements button{
        width: 1030px;
        height: 200px;
        text-align: left;
        margin-bottom: 5%;
        padding: 0;
        margin-left: 20px;
    }

    div.mobile-i{
        text-align: center;
    }

    .mobile-i i{
        margin: 20px 30px;
        color: black;
    }

    .mobile-i a{
        display: inline-block;
        margin-left: 20px;
        height: 0;
    }

    main{
        z-index: -1;
    }

}



