.activeColor:after{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #888888;
    box-sizing: border-box;
    border-radius: 50%;
    top: -3px;
    left: -3px;
}

.activeTaille:after{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #888888;
    box-sizing: border-box;
    top: -3px;
    left: -3px;
}

.color{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin:0 10px;
    position: relative;
}

.taille{
    height: 28px;
    width: 28px;
    display: inline-block;
    cursor: pointer;
    margin:0 10px;
    position: relative;
    background-color: #3498db;
    text-align: center;
}

.product-pic{
    background-image: url(/img/black.jpg);
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    transition: ease-in-out .1s;
    -webkit-transition: ease-in-out .1s;
    -moz-transition: ease-in-out .1s;
    -ms-transition: ease-in-out .1s;
    -o-transition: ease-in-out .1s;
}


.noir{
    background-color: #000000;
}

.bleu{
    background-color: #3498db;
}

.rouge{
    background-color: #e74c3c;
}

.jaune{
    background-color: #beae1d;
}

.orange{
    background-color: #a54f08;
}

.vert{
    background-color: #3aa86c;
}