.activeColor:after{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #888888;
    box-sizing: border-box;
    border-radius: 50%;
    top: -3px;
    left: -3px;
}

.activeTaille:after{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #888888;
    box-sizing: border-box;
    top: -3px;
    left: -3px;
}

.color{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin:0 10px;
    position: relative;
}

.taille{
    height: 28px;
    width: 28px;
    display: inline-block;
    cursor: pointer;
    margin:0 10px;
    position: relative;
    background-color: #3498db;
    text-align: center;
}

.img-responsive{
    background-image: url(/img/black.jpg);
    width: 300px!important;
    height: 340px!important;
    background-size: cover;
    background-position: center;
    transition: ease-in-out .1s;
    -webkit-transition: ease-in-out .1s;
    -moz-transition: ease-in-out .1s;
    -ms-transition: ease-in-out .1s;
    -o-transition: ease-in-out .1s;
}


.noir{
    background-color: #000000;
}

.bleu{
    background-color: #3498db;
}

.rouge{
    background-color: #e74c3c;
}

.jaune{
    background-color: #beae1d;
}

.orange{
    background-color: #a54f08;
}

.vert{
    background-color: #3aa86c;
}

input[type=radio]{
    display: inline;
    margin-right: 10px!important;
}

.labelSpacing{
    margin-right: 5px!important;
    text-transform: uppercase;
}

h4.text-info{
    text-transform: uppercase;
    color: #003144!important;
    font-weight: 600;
}

.products h4{
    text-align: center;
}

.products input[type=submit]{
    margin-left: 22%;
    background: #A91000;
    border: none;
    width: 190px;
    height: 48px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


#prixVente{
    color: rgb(167, 0, 0);
    font-size: 28px;
    font-weight: 700;
}

.radioContainer{
    padding: 5px;
    background-color: rgba(221, 221, 221, 0.39);
    margin-bottom: 5px;
}

